@model IEnumerable<LibraryManagementSystem.Models.Author>
@{
    ViewData["Title"] = "Authors";
}

<h2>Authors</h2>
<a href="@Url.Action("Create")" class="btn btn-primary" id="addAuthorBtn">Add Author</a>

<div id="authorList">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var author in Model)
            {
                <tr>
                    <td>@author.Name</td>
                    <td>
                        <a href="@Url.Action("Edit", new { id = author.AuthorId })" class="btn btn-sm btn-warning editAuthorBtn">Edit</a>
                        <button class="btn btn-sm btn-danger deleteAuthorBtn" data-id="@author.AuthorId">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/author.js"></script>
}
